.dropzone {
  flex: 1;
  height: 400px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
}

.dropzone32 {
  flex: 1;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
}


.dropzone2 {
  flex: 1;
  height: 150px !important;
  border-radius: 1rem;
}

.dropzoneLimitedMobile {
  flex: 1;
  height: 300px !important;
  border-radius: 1rem;
}

.dropzone.left {
  margin-right: 10px;
}

.grid-item {
  padding: 10px;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.grid-item-content {
  width: 50px;
  height: 50px;
  box-sizing: border-box;
  background: #08e;
  display: flex;
  justify-content: center;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  align-items: center;
  border-radius: 50%;
}