.vertical__line{
    width: 1px;
    background-color: #EEF0F3;
    display: inline-block;
    height: 20px;
    position: relative;
    top: 4px;
    right: 3px;
}
.Bg_Collection{
    background-color: white;
    width: 367px;
    padding: 10px 20px 15px 20px;
    position: relative;
    border-radius: 5px;
    box-shadow: 0px 24px 72px rgba(36, 35, 40, 0.08);
    border: 1px solid #EEF0F3;

}
.P_Collection:hover{
    background-color: transparent !important;
}
.header_fix{
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 1000;
    padding-top: 5px;
    border-bottom: 1px solid #EEF0F3;

}

.itemCol{
    position: relative;
}
.BgCollection{
    position: absolute;
    left: -17px;
    top: 12px;
    width: 324px;
}
.Bg_Collection_items{
    max-height: 150px;
    cursor: pointer;
    margin-top: 10px !important;
    clip-path: polygon(0% 0%, 93% 0, 100% 50%, 93% 100%, 0% 100%);
    border-radius: 8px;
}
.bg_when_not_image{
    width: 326px !important;
    padding-left: 19.5px;
}
.Bg_Collection_items:hover{
    max-height: 150px;
    cursor: pointer;
    background-color: #F1F9FE;
    z-index: 5;
}
.Square{
    display: inline-block;
    width: 18px;
    height: 18px;
    transform: rotate(45deg);
    border-radius: 5px;
    top: -6px;
    background-color: white;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    z-index: 1;
}
.SquareUser{
    display: inline-block;
    width: 16px;
    height: 16px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    border-radius: 5px;
    top: -6px;
    background-color: white;
    position: absolute;
    right: 14px;
    z-index: 1;
}
.Triangle{
    position: absolute;
    right: 0;
    width: 0; 
    height: 0; 
    border-top: 60px solid transparent;
    border-bottom: 60px solid transparent;
    border-left: 60px solid green;
}
.Line100{
    width: 100%;
    height: 1px;
    background-color: #EEF0F3 ;
}
.collection_title{
    color: #3772FF;
    font-weight: 500;
    font-size: 14px;
}
.collection_info{
    color: #83909D;
    font-size: 12px;
    max-width: 215px;
}
.title_and_info_col{
    position: relative;
    top: -1px;
}
.search__bar{
    background-color: #F7F8FA;
    border-radius: 50px;
    display: flex;
    height: 37px;
    flex: 1;
    padding-left: 30%;
    padding-right: 30%;
    font-size: 13.5px !important;

}
.line{
    width: 112%;
    position: relative;
    left: -20px;
    top: 0;
    background-color: #EEF0F3;
    height: 1px;
    display: inline-block;
}
.tabCol{
    position: absolute;
    left: -47px;
    z-index: 600;
}
.posRel{
    position: relative;
}
.newSearchInput{
    width: 100%;
    padding: 9px 10px;
    border: none;
    border-radius: 50px;
    background-color: #F7F8FA;
    padding-left: 30%;
}
.P_button_mainWeb{
   margin-top: 8px !important;
}
.button_main{
    color: #83909D !important;
    text-transform: none !important;
    font-family: 'Poppins', sans-serif;
}
.newSearchInput:focus{
    outline: none;
    
}
.newSearchInput::placeholder{
    font-family: 'Poppins', sans-serif;
    color: #A8B3BC;
}
.File::placeholder{
    font-size: 14px !important;
}
.imgFile{
    position: relative;
    left: 14px;
}
.search__bar::placeholder{
}
.P__search__bar{
    width: 100%;
    position: relative;
    top: 4px;
}
.userName{
    font-size: 12px;
    color: #242328;
    font-weight: 400;
    text-transform: none !important;
    display: inline-block;
    max-width: 170px;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
}
.spanTag{
    width: 24.6%;
    background-color: #1976D2;
    height: 3px;
    content: '';
}
.color1{
    background-color: #f5f5f5 !important;
    color: black !important;
}
.rounded{
    border-radius: 50px;
}
.Search__Icon{
    position: absolute;
    left: 25%;
    top: 32%;
}
.collection{
    font-size: 14px !important;
    font-weight: 500 !important;
    text-transform: none !important;
}
.collection1{
    margin-top: 6px !important;
}
.arrowUp{
    margin-top: 7px !important;
}
.Btn:hover{
    transition: all 0.3s ease-in-out;
    background-color: #f7f7f7;
    border-radius: 5px !important;
    cursor: pointer;
}
.echoLab{
    font-size: 12px;
    color: #242328;
    font-weight: 450;
    text-transform: none;
}
.P_echoLab{
    margin-top: 10px !important;
}
.Img_echo{
    position: relative;
    top: 3px;
}
.margin__header__top{
    margin: 5px 20px !important;
}
.P_username{
    margin-right: -15px !important;
    position: relative;
}

.scroll_col::-webkit-scrollbar{
    display: none;
}

.UserMenu{
    min-width: 177px;
    box-shadow: 0px 24px 72px rgba(36, 35, 40, 0.08);
    background: #FFFFFF;
    border-radius: 6px;
    border: 1px solid #EEF0F3;
    border-radius: 6px;
    position: absolute;
    top: 64px;
    right: 5px;
    padding-bottom: 20px;
}
.UserMenu_1{
    min-width: 177px;
    box-shadow: 0px 24px 72px rgba(36, 35, 40, 0.08);
    background: #FFFFFF;
    border-radius: 6px;
    border: 1px solid #EEF0F3;
    border-radius: 6px;
    position: absolute;
    top: 55px;
    right: 5px;
    padding-bottom: 20px;
}
.fitSvg{
    position: relative;
    top: 6px;
    margin-right: 10px;
    transition: all 0.1s ease;
}
.item_userMenu{
    padding: 16px 20px 0 20px;
    font-size: 14px;
    font-weight: 500;
    color: #83909D;
    cursor: pointer;
}
.item_userMenu:hover{
    color: #242328;
    transition: all 0.1s ease;
}
.item_userMenu:hover .fitSvg{
    filter: brightness(0.01);
}
.badge{
    position: relative ;
    bottom: 1px;
}

@media screen and (max-width:960px){
    .header_fix{
        background-color: white;
        position: fixed;
        top: 0;
        border-bottom: 1px solid #EEF0F3;
        width: 100%;
        padding: 5px 10px 7px 0;
        z-index: 1000;
    }
    .P__search__bar{
        width: 100% ;
    }
    .search__bar{
        padding-left: 25%;
        padding-right: 25%;
    }
    .margin__header__top{
        margin: 5px 20px !important;
    }
    .c__gridCenter{
        margin-top: 0px !important;
    }
}


@media screen and (max-width:600px){
    .c__gridCenter{
        margin-top: 0px !important;

    }
    .grid_center{
        justify-content: center;
        display: flex;
        margin-top: 30px !important;
    }
}
