.Wrapper_Empty {
  padding: 16px 24px;
  flex: 1;
  min-height: 85vh;
}
.titleText {
  font-size: 18px;
  font-weight: 500;
}
.badgeGreen {
  display: inline-block;
  width: 8px;
  height: 8px;
  position: relative;
  bottom: 2px;
  border-radius: 50px;
  background-color: #a6e9de;
  margin-right: 10px;
}
.p_empty {
  height: 98%;
}
.img_mask {
  margin-bottom: 15px !important;
}
.text_manage_noWidth {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 15px !important;
  text-align: center;
}
.text_product {
  color: #a8b3bc;
  font-size: 14px;
  margin-bottom: 21px !important;
  max-width: 500px;
  text-align: center;
}
.Menu {
  width: 220px;
  height: 100%;
  background: #f7f8fa;
  border-radius: 0 8px 0px 0;
  padding: 18px 24px;
}
.Warpper {
  padding: 16px 24px;
  flex: 1;
}
.TitleText_Menu {
  padding: 16px 24px;
  font-size: 18px;
  font-weight: 500;
}
.MenuItem {
  padding: 12px 0;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
}
.ImgMenu {
  position: relative;
  top: 4px;
  margin-right: 8px;
}
.MenuItemNotSel {
  color: #83909d;
  padding: 12px 0;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
}
.P_Menu {
  position: fixed;
  top: 64px;
  left: 260px;
  height: 100%;
}
.Lables {
  position: absolute;
  left: 0px;
  bottom: 100px;
  width: 100%;
  padding: 0 24px;
}
.Labels {
  font-size: 14px;
  color: #a8b3bc;
  transition: all 0.3s ease;
}
.Label {
  font-size: 14px;
  padding: 9px 0;
  cursor: pointer;
  position: relative;
}
.Labeltitle {
  transition: all 0.3s ease;
  color: #242328;
}
.Label:hover .Labeltitle {
  color: #3772ff;
}
.ThreeDot {
  opacity: 0;
  transition: all 0.3s ease;
  display: none;
  position: absolute;
  top: 6px;
  right: 0;
}
.Label:hover .ThreeDot {
  opacity: 1;
  display: block;
}
.LabelImg {
  position: relative;
  top: 3.5px;
  margin-right: 8px;
}
.TitleLabel {
  padding: 6px 0;
  cursor: pointer;
}
.TitleLabel:hover .Labels {
  color: #242328;
}
.LbImg{
  transition: all 0.3s ease;
}
.TitleLabel:hover .LbImg {
  filter: brightness(0.01);
}
.InputList {
  width: 256px;
  height: 32px;
  border-radius: 6px;
  outline: none;
  font-size: 12px;
  font-weight: 500;
  border: 2px solid transparent;
  background: #f7f8fa;
  padding-left: 40px;
  padding-right: 25px;
}
.InputList:focus {
  border: 2px solid #3772ff;
}
.InputList::placeholder {
  opacity: 1;
  font-weight: 400;
  font-size: 12px;
}
.P_AllSelect {
  margin-right: 16px !important;
  position: relative;
  display: inline-block !important;
  top: 2px;
}
.P_AllSelect2 {
  margin-right: 5px !important;
  position: relative;
  display: inline-block !important;
  top: 2px;
}
.P_InputList {
  display: inline-block !important;
  position: relative;
}
.SearchSvg {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 16px;
}
.ShowType {
  border: 1.5px solid #eef0f3 !important;
  border-radius: 4px !important;
  padding: 3px 12px !important;
  font-weight: 400 !important;
  margin-left: 8px !important;
}
.ShowType_Sel {
  border: 1.5px solid #242328 !important;
  background-color: #242328 !important;
  border-radius: 4px !important;
  padding: 3px 12px !important;
  color: white !important;
  font-weight: 400 !important;
  margin-left: 8px !important;
}
.P_InputSearchBtn {
  padding-bottom: 24px;
  border-bottom: 1.5px solid #f5f7fa;
}
.GuyImg {
  width: 64px;
  height: 64px;
  border-radius: 50px;
  object-fit: cover;
  margin-left: 16px !important;
}
.Item {
  height: 96px;
  border-bottom: 1.5px solid #f5f7fa;
  position: relative;
}
.Item_Person {
  height: 96px;
  border-bottom: 1.5px solid #f5f7fa;
  position: relative;
}
.Item_Person_Single {
  height: 96px;
  border-bottom: 1.5px solid #f5f7fa;
  position: relative;
}
.ArtistName {
  font-size: 14px;
  font-weight: 500;
}
.P_ArtistName {
  margin-left: 16px !important;
}
.P_ArtistName_Person {
  margin-left: 16px !important;
}
.ArtistStatuse {
  font-size: 12px;
  margin-top: 8px !important;
  color: #a8b3bc;
}
.ArtistStatuseSingle {
  font-size: 12px;
  margin-top: 8px !important;
  color: #a8b3bc;
}
.P_AtistType {
  margin-top: 8px !important;
}
.BadgeBlue {
  display: inline-block;
  background-color: #3772ff;
  border-radius: 50px;
  padding: 2px 8px;
  font-size: 12px;
  font-weight: 500;
  margin-left: 8px;
  color: white;
}
.Customer {
  display: inline-block;
  font-size: 12px;
  font-weight: 500;
  background: #eef0f3;
  border-radius: 4px;
  padding: 4px 8px;
  margin-left: 8px;
}
.Collector {
  display: inline-block;
  font-size: 12px;
  font-weight: 500;
  background: #fed6cc;
  border-radius: 4px;
  padding: 4px 8px;
  margin-left: 8px;
}

.Customer2 {
  display: inline-block;
  font-size: 12px;
  font-weight: 500;
  background: #eef0f3;
  border-radius: 4px;
  padding: 4px 8px;
}
.Collector2 {
  display: inline-block;
  font-size: 12px;
  font-weight: 500;
  background: #fed6cc;
  border-radius: 4px;
  padding: 4px 8px;
}

.OfferStatuse {
  font-size: 12px;
  font-weight: 500;

  margin-left: 6px;
}
.Time {
  font-size: 12px;
  font-weight: 500;
  color: #a8b3bc;
  padding-left: 20px;
  border-left: 1px solid #eef0f3;
  margin-left: 24px;
}
.TimeSingle {
  font-size: 12px;
  font-weight: 500;
  color: #a8b3bc;
  padding-left: 20px;
  border-left: 1px solid #eef0f3;
  margin-left: 24px;
}
.ImgArtworkGray {
  position: relative;
  top: 6px;
  margin-right: 4px !important;
}
.NumArtworks {
  font-size: 12px;
  font-weight: 500;
  color: #a8b3bc;
  border-right: 1px solid #eef0f3;
  padding-right: 24px;
  margin-right: 16px;
}
.NumPiece {
  font-size: 12px;
  font-weight: 500;
  color: #a8b3bc;
  border-right: 1px solid #eef0f3;
  padding-right: 24px;
  margin-right: 16px;
}
.Time_Br {
  font-size: 12px;
  font-weight: 500;
  color: #a8b3bc;
  padding-left: 20px;
  margin-left: 24px;
}
.ImgOffer {
  position: relative;
  top: 5px;
}
.RightInfo {
  padding-left: 24px;
  margin-left: 24px !important;
  border-left: 1px solid #eef0f3;
}
.ArtworkName {
  font-size: 14px;
  font-weight: 500;
  position: relative;
  bottom: 5px;
}
.P_ArtworkArtist {
  margin-left: 16px !important;
}
.Artist {
  font-size: 12px;
  color: #83909d;
  margin-bottom: 1px !important;
  min-width: 92px;
}
.ImageArtwork {
  width: 64px;
  height: 64px;
  border-radius: 8px;
  object-fit: cover;
}
.P_Check {
  position: relative;
  top: 5px;
}
.ImgItem {
  width: 64px;
  height: 64px;
  border-radius: 50px;
  object-fit: cover;
}
.ImgArt {
  width: 64px;
  height: 64px;
  border-radius: 8px;
  object-fit: cover;
}
.MainMessaging {
  margin-bottom: 100px !important;
}
.PersonName {
  font-size: 18px;
  font-weight: 500;
  display: inline-block !important;
}
.P_PersonName {
  position: relative;
  bottom: 2px;
}
.P_PersonAndCheck {
  padding-bottom: 8px;
  border-bottom: 1.5px solid #f5f7fa;
}
.Line {
  display: block;
  position: absolute;
  top: 66px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #eef0f3;
}
.JustForClick_Person {
  cursor: pointer;
  display: inline-block;
  width: 360px;
  z-index: 1;
  height: 100%;
  top: 0;
  left: 30px;
  position: absolute;
}
.JustForClick_Piece {
  cursor: pointer;
  display: inline-block;
  width: 196px;
  z-index: 1;
  height: 100%;
  top: 0;
  right: 0px;
  position: absolute;
}
.BlueColor {
  display: inline-block;
  width: 24px;
  height: 24px;
  border-radius: 50px;
  background-color: #3772ff;
  margin-right: 12px;
  cursor: pointer;
  position: relative;
}
.OrangeColor {
  display: inline-block;
  width: 24px;
  height: 24px;
  border-radius: 50px;
  background-color: #ff8f50;
  margin-right: 12px;
  cursor: pointer;
  position: relative;
}
.GreenColor {
  display: inline-block;
  width: 24px;
  height: 24px;
  border-radius: 50px;
  background-color: #1ed4a9;
  margin-right: 12px;
  cursor: pointer;
  position: relative;
}
.PurpleColor {
  display: inline-block;
  width: 24px;
  height: 24px;
  border-radius: 50px;
  background-color: #9a6aff;
  margin-right: 12px;
  cursor: pointer;
  position: relative;
}
.WhiteColor {
  display: inline-block;
  width: 11px;
  height: 11px;
  border-radius: 50px;
  background-color: white;
  left: 50%;
  top: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}
.Colors {
  margin-top: 15px !important;
  margin-bottom: -5px !important;
}
.P_Colors {
  margin-top: 12px !important;
}
.ProfileImg {
  width: 96px;
  height: 96px;
  border-radius: 50px;
  object-fit: cover;
}
.ChatMenu {
  position: fixed;
  right: 0;
  top: 0px;
  padding: 95px 0px;
  background-color: #f7f8fa;
  width: 256px;
  height: 100vh;
  z-index: 500;
}
.ProfileName {
  font-size: 14px;
  font-weight: 500;
  margin-top: 7px !important;
}
.ProfileType {
  background: #eef0f3;
  border-radius: 4px;
  font-size: 12px;
  font-weight: 500;
  padding: 4px 10px;
  margin-top: 8px !important;
}
.MenuTabs {
  font-size: 14px;
  font-weight: 500;
  padding: 23px 24px 27px 24px;
  border-top: 1px solid #eef0f3;
  border-bottom: 1px solid #eef0f3;
  cursor: pointer;
  border-collapse: collapse;
}
.MenuTabs1 {
  font-size: 14px;
  font-weight: 500;
  padding: 23px 24px 27px 24px;
  border-top: 1px solid #eef0f3;
  cursor: pointer;
  border-collapse: collapse;
}
.SvgTabs {
  position: relative;
  top: 4px;
  margin-right: 8px;
}
.P_Profile {
  margin-bottom: 32px !important;
}
.MessageText {
  font-size: 18px;
  font-weight: 500;
}
.MessageLeftSide {
  flex: 1;
  padding: 16px 24px;
}
.ArrowLeft {
  position: relative !important;
  margin-right: 7px !important;
  bottom: 1px;
}
.IconChat {
  padding: 0 10px !important;
}
.P_Icons {
  position: relative;
  left: 8px;
}
.MyMessage {
  margin-top: 8px !important;
}
.TextMyMessage {
  color: white;
  font-size: 14px;
  background-color: #242328;
  border-radius: 12px 0 12px 12px;
  padding: 16px;
  font-weight: 400;
  max-width: 56%;
}
.P_HeaderMessages {
  margin-bottom: 32px !important;
}
.TimeMyMessage {
  font-size: 12px;
  color: #a8b3bc;
  font-weight: 500;
  margin-right: 16px !important;
}
.TimeAudienceMessage {
  font-size: 12px;
  color: #a8b3bc;
  font-weight: 500;
  margin-left: 16px !important;
}
.TextAudience {
  color: #242328;
  font-size: 14px;
  background-color: #f7f8fa;
  border-radius: 0px 12px 12px 12px;
  padding: 16px;
  font-weight: 400;
  max-width: 56%;
}
.AudienceMessage {
  margin-top: 8px !important;
}
.ChatForm {
  position: fixed;
  bottom: 0;
  z-index: 100;
  background-color: white;
}
.TypeForm {
  outline: none;
  flex: 1;
  font-size: 14px;
  font-weight: 400;
  padding-left: 16px;
  border: none;
  border-left: 1px solid #eef0f3;
  width: 94%;
  background-color: white;
  margin-left: 4px;
}
.TypeForm::placeholder {
  font-size: 14px;
  font-weight: 400;
  color: #a8b3bc;
  opacity: 1;
}
.P_InputChat {
  flex: 1;
}
.C_ChatForm {
  border-top: 1px solid #eef0f3;
  padding: 10px 16px 10px 10px;
}
.SendBtn {
  color: white !important;
  background-color: #a8b3bc !important;
  border-radius: 8px !important;
  height: 40px !important;
  padding: 10px 24px !important;
  transition: all 0.3s ease;
}
.SendBtn_Active {
  color: white !important;
  background-color: #3772ff !important;
  border-radius: 8px !important;
  height: 40px !important;
  padding: 10px 24px !important;
}
.Emoji {
  margin-right: 5px !important;
}
.QuickMessage {
  width: 100%;
  background-color: #f7f8fa;
  border-radius: 8px 8px 0 0;
  font-size: 12px;
  font-weight: 500;
  padding: 5px 14px 3px 14px;
}
.C_QuickMessage {
  cursor: pointer;
}
.QuickMessageOpen {
  width: 100%;
  background-color: #f7f8fa;
  border-radius: 8px 8px 0 0;
  font-size: 12px;
  font-weight: 500;
  padding: 12px 14px 16px 14px;
}
.SvgQuickMessage {
  position: relative;
  top: 2px;
}
.P_QuickMessage {
  padding: 0 24px;
}
.QuickMessageItem {
  font-size: 12px;
  padding: 8px 16px;
  border-radius: 50px;
  background-color: white;
  margin-top: 16px !important;
  margin-right: 12px !important;
}
.P_NavMenu {
  padding: 18px 18px 16px 18px;
  border-bottom: 1px solid #eef0f3;
}
.ImgMobileNav {
  width: 40px;
  height: 40px;
  border-radius: 50px;
  object-fit: cover;
  margin-left: 8px;
}
.GuyName {
  font-size: 14px;
  font-weight: 500;
  margin-left: 12px !important;
  position: relative;
  bottom: 4px;
}
.P_ArrowLeft {
  position: relative;
  bottom: 2px;
}
.P_Dot {
  position: relative;
  bottom: 3px;
}
.MobileNav {
  position: fixed;
  left: 0;
  top: 0;
  padding: 14px 19px 6.5px 20px;
  background-color: white;
  z-index: 10;
  border-bottom: 1px solid #eef0f3;
}
.SizeDoc {
  font-size: 12px;
  color: #83909d;
  border-right: 1px solid #83909d;
  margin-left: 10px;
  padding-right: 8px;
  margin-right: 8px;
}
.SizeDocAu {
  font-size: 12px;
  color: #83909d;
  border-left: 1.5px solid #eef0f3;
  margin-left: 10px;
  padding-left: 8px;
  margin-left: 10px;
  margin-right: 14px;
}
.PTextDoc {
  font-size: 12px;
  font-weight: 500;
}
.PlusCircle {
  position: relative !important;
  bottom: 3.5px;
  margin-right: 10px !important;
}
@media screen and (max-width: 960px) {
  .P_QuickItem {
    display: block !important;
    white-space: nowrap;
    overflow-x: auto;
  }
  .QuickMessageItem {
    display: inline-block !important;
  }
  .QuickMessage {
    padding: 5px 24px 3px 24px;
  }
  .ChatForm {
    left: 0 !important;
    width: 100% !important;
  }
  .P_QuickMessage {
    padding: 0;
  }
  .TextMyMessage {
    max-width: 92%;
    border-radius: 14px 0 14px 14px;
  }
  .TextAudience {
    max-width: 92%;
    border-radius: 0px 14px 14px 14px;
  }
  .TimeMyMessage {
    margin-right: 0 !important;
    margin-top: 8px !important;
  }
  .TimeAudienceMessage {
    margin-left: 0 !important;
    margin-top: 8px !important;
  }
  .MessageLeftSide {
    margin-top: 67px !important;
  }
  .MenuTabs1 {
    padding: 20px 24px 24px 24px;
  }
  .MenuTabs {
    padding: 20px 24px 24px 24px;
  }
  .P_Profile {
    margin-top: 24px !important;
    margin-bottom: 24px !important;
  }
  .ChatMenu {
    width: 100%;
    background-color: white;
    padding: 0;
  }
  .JustForClick_Person {
    display: none;
  }
  .JustForClick_Piece {
    display: none;
  }
  .TimeSingle {
    padding-left: 16px;
    margin-left: 16px;
  }
  .P_InputList {
    display: unset !important;
  }
  .NumPiece {
    padding-right: 16px;
    margin-right: 7px !important;
  }
  .TitleText_Menu {
    padding: 0px 24px 24px 24px;
  }
  .NumArtworks {
    border: none;
  }
  .P_ArtworkArtist {
    margin-left: 12px !important;
    position: relative;
    bottom: 9px;
  }
  .ArtworkName {
    font-size: 12px;
  }
  .TitleItem {
    position: absolute;
    top: 10px;
    left: 0;
  }
  .P_ArtistName {
    margin-left: -10px !important;
    margin-top: 3px !important;
  }
  .P_ArtistName_Person {
    margin-left: -10px !important;
    position: relative;
    top: 2px;
  }
  .Item {
    height: 220px;
  }
  .Item_Person {
    height: 121px;
  }
  .Item_Person_Single {
    height: 158px;
  }
  .ImgItem {
    width: 40px;
    height: 40px;
    position: relative;
    top: 13px;
  }
  .ImgArt {
    width: 40px;
    height: 40px;
    position: relative;
    top: 13px;
  }
  .P_InputSearchBtn {
    border: none;
    padding-bottom: 0;
  }
  .P_PersonAndCheck {
    border: none;
    background: white;
    position: fixed;
    top: 0;
    z-index: 1000;
    padding: 16px 10px 10px 10px;
    width: 100% !important;
    left: 0;
    border-bottom: 1px solid #eef0f3;
  }
  .MobileSpace {
    margin-top: 57px !important;
  }
  .RightInfo {
    position: absolute;
    top: 155px;
    left: 37px;
    padding-left: 0;
    margin-left: 0 !important;
    border: none;
  }
  .ImageArtwork {
    width: 40px;
    height: 40px;
  }
  .P_ImgOffer {
    position: absolute;
    top: 108px;
    left: 36px;
  }
  .P_ImgOffer_Person {
    position: absolute;
    top: 73px;
    left: 36px;
  }
  .TextPerson {
    position: relative;
    top: -2px;
  }
  .P_ImgOffer_Piece {
    position: absolute;
    top: 73px;
    left: 36px;
  }
  .P_ImgOffer_Single {
    position: absolute;
    top: 110px;
    left: 36px;
  }
  .P_ImgOffer2 {
    position: absolute;
    top: 108px;
    left: -12.5px;
  }
  .ArtistStatuse {
    position: absolute;
    top: 59px;
    left: 38px;
    width: 76vw;
  }
  .ArtistStatuseSingle {
    position: absolute;
    top: 38px;
    left: -54px;
    width: 76vw;
  }

  .InputList {
    width: 100%;
    height: 40px;
    padding-right: 15px;
  }
  .P_Input {
    flex: 1;
    margin-right: 8px !important;
  }
  .Lables {
    position: initial;
    left: 0px;
    bottom: 100px;
    overflow-x: auto;
    max-width: 100vw;
    white-space: nowrap;
    width: 100%;
    padding: 15px 24px;
  }
  .Label {
    display: inline-block !important;
    padding-right: 32px;
  }
  .LineLabel {
    display: inline-block;
    width: 90%;
    margin: auto;
    height: 1.5px;
    background-color: #eef0f3;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  .MenuItem {
    display: inline-block !important;
    margin-right: 32px !important;
  }
  .MenuItemNotSel {
    display: inline-block !important;
    margin-right: 32px !important;
  }
  .P_Menu {
    position: unset;
    width: 100%;
    margin-top: 65px !important;
  }
  .Menu {
    width: 100%;
    padding: 0px;
  }
  .C_Menu {
    overflow: auto;
    white-space: nowrap;
    max-width: 100vw;
    padding: 10px 24px;
  }
  .text_manage_noWidth {
    width: 90%;
  }
  .Wrapper_Empty {
    padding: 60px 5px 0px 5px;
  }
  .titleText {
    font-size: 16px;
    font-weight: 500;
    position: relative;
    top: 6px;
  }
}
